body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}


.gameButtons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gameButton {
    margin: 20px;
    padding: 20px;
    font-size: 3em;
    color: white;
    border: none;
    cursor: pointer;
}

#passButton {
    background-color: #354449;
}

#smashButton {
    background-color: #f44336;
}



#celebDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#celebDisplay img {
    width: 20em;
    height: auto;
    margin: 0 auto;
}

#celebDisplay img:hover {
    cursor: pointer;
}

#celebDisplay h2 {
    text-align: center;
}



#smashList {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
#smashList img {
    width: 10em;
    height: auto;
    margin: 10px;
}

#smashList img:hover {
    cursor: pointer;
}



@media (orientation: portrait) {
    #celebDisplay img {
        width: 60%;
        height: auto
    }
}